<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos</title>
</head>
<body>
<center><h1>Sistema de administracion de Alumnos</h1></center>

<center>
    <div>
        <div>
            <h2>Alumnos</h2>
            <h3><button><a href='nuevoestudiante'>Nuevo alumno</a> </button></h3>
            <table border="1" style="text-align:center">
                <thead>
                <tr>
                    <th>Rut alumno</th>
                    <th>Nombre alumno</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>175119426</td>
                    <td>Jaime Pardo</td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <h2>Pruebas</h2>
            <table border="1" style="text-align:center">
                <thead>
                <tr>
                    <th>Id prueba</th>
                    <th>Id Curso</th>
                    <th>Nombre de la prueba</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>Python</td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <h2>Pruebas y notas</h2>
            <table border="1" style="text-align:center">
                <thead>
                <tr>
                    <th>Id prueba</th>
                    <th>Rut Alumno</th>
                    <th>Nota</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>135880604</td>
                    <td>2.5</td>
                    <td><a href="#">Editar</a></td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</center>

</body>
</html>